<p>latitude: {{ latitude | number }}</p>
<p>longitude: {{ longitude | number }}</p>
<google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
></google-map>

<ul>
  <h1>Categories</h1>
  <li *ngFor="let category of categories">{{ category.strCategory }}</li>
</ul>

<ul>
  <h1>Glasses</h1>
  <li *ngFor="let glass of glasses">{{ glass.strGlass }}</li>
</ul>

<!-- <ul>
  <h1>Ingredients</h1>
  <li *ngFor="let category of categories">{{ category.strCategory }}</li>
</ul> -->

<ul>
  <h1>Alcoholic</h1>
  <li *ngFor="let alcoholic of alcoholics">{{ alcoholic.strAlcoholic }}</li>
</ul>
