<div class="quiz-container">
  <h1 class="center">Discover Your Ideal Cocktail</h1>
  <div class="intro">
    <p>Click below to begin the quiz</p>
    <button>Start the Quiz!</button>
  </div>
  <div class="progress center">
    <div class="answered"></div>
    <div class="on"></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="question answered">
    <p class="txt">Question</p>
    <div class="ans-container">
      <p class="ans">Answer 1</p>
      <p class="ans selected">Answer 2</p>
      <p class="ans">Answer 3</p>
      <p class="ans">Answer 4</p>
    </div>
    <div class="feedback">
      <p>Additional Feedback</p>
      <button class="continue btn">Continue</button>
    </div>
  </div>
  <div class="results">
    <h3>Results</h3>
    <p>X</p>
    <p class="center">Use the links below to share with your friends.</p>
    <div class="share center">
      <a class="btn email" href="#">Email</a>
      <a
        href="https://twitter.com/share?ref_src=twsrc%5Etfw"
        class="twitter-share-button btn twitter"
        data-show-count="false"
        >Twitter</a
      >
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
  </div>
</div>
