<div>
  <label class="image-upload-container">
    <span>Select Image</span>
    <input
      #fileInput
      type="file"
      accept="image/*"
      (change)="onImageLoad($event)"
    />
  </label>

  <div *ngIf="selectedImage" class="img-preview-container">
    <div
      class="img-preview{{ selectedImage.status === 'ERROR' ? '-error' : '' }}"
    >
      <img *ngIf="selectedImage.src" [src]="selectedImage.src" />
    </div>

    <div *ngIf="selectedImage.status === 'UPLOADED'">
      Image has been uploaded successfully!
    </div>
    <div *ngIf="selectedImage.status === 'ERROR'">
      Image uploaded failed!
    </div>
  </div>

  <div *ngIf="selectedImage">
    <button
      *ngIf="selectedImage.status === 'LOADED'"
      (click)="uploadImage()"
      type="button"
    >
      Upload Image
    </button>
    <button (click)="cancelImage(fileInput)" type="button">
      Cancel
    </button>
  </div>
</div>
