<div class="quiz-container">
  <div class="progress center">
    <div class="answered"></div>
    <div class="on"></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="question answered">
    <p class="txt">Question</p>
    <div class="ans-container">
      <p class="ans">Answer 1</p>
      <p class="ans selected">Answer 2</p>
      <p class="ans">Answer 3</p>
      <p class="ans">Answer 4</p>
    </div>
    <div class="feedback">
      <p>Additional Feedback</p>
      <button class="continue btn">Continue</button>
    </div>
  </div>
</div>
