<div class="quiz-container">
  <div class="progress center">
    <div class="answered"></div>
    <div class="on"></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div class="question answered">
    <p class="txt">{{question.questionText}}</p>
    <div class="ans-container">
      <p class="ans" *ngFor="let option of question.options">{{option.optionText}}</p>
    </div>
    <div class="feedback" *ngIf="question && question.questionId !== totalQuestions">
      <button (click)="navigateToNextQuestion()" class="continue btn">Continue</button>
    </div>
  </div>
</div>
