.background-img {
  background-image: url(../user-profile/Mojito/Mojito.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
/* profile information */
.info-container {
  display: flex;
  flex-direction: row;
}
/* profile pic */
.profile-pic {
  margin-top: 20px;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  border: 2px solid rgb(236, 184, 92);
  box-shadow: 3px 3px 5 px black;
}
.user-info-container {
  margin: 30px 0 0 40px;
}

/* added drinks display */
.feed-parent {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 20px;
}

.feed-info {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feed-details {
  margin-top: 10px;
  text-align: center;
  height: 200px;
}

.catagories {
  margin: 8px 0;
}
button {
  width: 190px;
}

.feed-images {
  width: 190px;
  height: 190px;
  border: 2px solid rgb(236, 184, 92);
  box-shadow: 3px 3px 5px black;
}

/* Tablet Sizing */
@media screen and (max-width: 768px) {
  .feed-parent {
    grid-template-columns: repeat(3, auto);
    gap: 15px;
  }
}

/* Phone Sizing */
@media screen and (max-width: 414px) {
  .info-container {
    flex-direction: column;
  }

  .user-info-container {
    margin: 10px 0 0 30px;
  }

  .profile-pic {
    margin-left: 30px;
    width: 170px;
    height: 170px;
  }

  .feed-parent {
    grid-template-columns: repeat(2, auto);
    gap: 10px;
  }
  .feed-images {
    width: 150px;
    height: 150px;
  }
  button {
    align-self: center;
    width: 120px;
  }
}
