<div class="background-img"></div>
<div class="global-parent">
  <div class="info-container" *ngFor="let item of userInfo">
    <img
      class="profile-pic"
      width="200px"
      src="{{ item.picture }}"
      alt=""
      *ngIf="item.picture === !null"
    />
    <div class="user-info-container" *ngFor="let item of userInfo">
      <h1>User Name: {{ item.first_name }} {{ item.last_name }}</h1>
      <button (click)="logOut()">Log Out</button>
      <p>Bio: {{ item.bio }}</p>
      <p>Age: {{ item.age }}</p>
      <p>username: {{ item.username }}</p>
    </div>
  </div>
  <!-- Feed -->
  <div class="feed-parent">
    <div *ngFor="let post of posts">
      <img
        class="feed-images"
        width="200px"
        src="/public/assets/adam-jaime-dmkmrNptMpw-unsplash.jpg"
        alt=""
      />
      <div>
        <p>Drink Name: {{ post.drink_name }}</p>
        <p>Drink Name: {{ post.rating }}</p>
        <p>Drink Name: {{ post.description }}</p>
      </div>
      <!-- post actions -->
      <div class="post-actions">
        <!-- <a routerLink="/post-details/{{ post.postID }}">More Details</a>
        <a routerLink="/post-details/{{ post.postID }}/edit">Edit</a> -->
        <button (click)="deletePost(post.post_id)">Delete</button>
      </div>
    </div>
  </div>
</div>
