<section>
  <h1>Profile Page</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum numquam
    odit nemo non qui recusandae delectus modi soluta similique ullam, sint
    cumque nam laborum alias saepe omnis maxime. Dolor, maiores! Quae ad,
    sapiente voluptates optio tenetur minima. Molestiae amet harum, hic nihil
    eius eveniet, minus aliquid, esse quia rem adipisci quo fuga doloribus!
    Reiciendis neque reprehenderit esse culpa possimus ipsa repellendus?
    Quibusdam sequi molestias possimus consectetur? Impedit cum voluptatem
    eveniet adipisci aperiam tenetur ipsa. Aut, non, ab sint recusandae quo
    laudantium blanditiis fugit adipisci eius nostrum quidem in quibusdam quos
    omnis exercitationem provident! Accusamus exercitationem illo earum eveniet
    ipsam nisi.
  </p>

  <div *ngFor="let post of posts">
    <p>{{ post.post_name }}</p>
  </div>
</section>
