<div class="nav-parent" *ngIf="nav.visible">
  <!-- <h1>NavBar</h1> -->
  <div class="nav-links">
    <a class="feed" routerLink="/the-feed">
      <!-- <img src="../Icons/NavBar_Feed/Feed.svg" width="100px" height="100px" /> -->
    </a>
    <a class="drink-post" routerLink="/drink-post"></a>
    <a class="profile" routerLink="/profile">
      <img src="#" alt=" " width="100px" height="300px"
    /></a>
    <a class="preferences" routerLink="/preferences"></a>
    <a class="quiz" routerLink="/quiz"></a>
  </div>
</div>
