.nav-parent {
  top: 0;
  position: fixed;
  width: 100%;
  height: 80px;
  /* background-color: rgb(32, 64, 81, 0.95); */
  background-color: rgba(17, 31, 44, 0.75);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid rgb(236, 184, 94);
}

/* .nav-links {
  margin: 3vh;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
} */
a {
  width: 50px;
  height: 50px;
  color: #80bdad;
}

a:hover {
  width: 100px;
  height: 100px;
}

.feed {
  background-image: url(../Icons/NavBar_Feed/Feed.svg);
  background-repeat: no-repeat;
}

.drink-post {
  background-image: url(../Icons/NavBar_Drink/drinks.svg);
  background-repeat: no-repeat;
}

.preferences {
  background-image: url(../Icons/NavBar_MyFavs/preferances.svg);
  background-repeat: no-repeat;
}
.quiz {
  background-image: url(../Icons/NavBar_Quiz/quiz.svg);
  background-repeat: no-repeat;
}

img {
  border-radius: 100%;
  background-color: white;
  border: 2px solid rgb(236, 184, 94);
}

/* Phone Sizing */
@media screen and (max-width: 380px) {
  .nav-parent {
    bottom: 0 !important;
    width: 100%;
    height: 60px;
    border-top: 2px solid rgb(236, 184, 94);
  }

  a {
    width: 30px;
    height: 30px;
    margin-left: 3vh;
  }

  a:hover {
    width: 50px;
    height: 50px;
  }
}
