.nav-parent {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: rgb(32, 64, 81, 0.95);
  display: flex;
  flex-direction: column;
}

.nav-links {
  margin: 3vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: right; */
}
a {
  width: 80px;
  height: 80px;
  color: #80bdad;
  margin-top: 8vh;
}

a:hover {
  width: 100px;
  height: 100px;
}

.feed {
  background-image: url(../Icons/NavBar_Feed/Feed.svg);
  background-repeat: no-repeat;
}

.drink-post {
  background-image: url(../Icons/NavBar_Drink/drinks.svg);
  background-repeat: no-repeat;
}

.preferences {
  background-image: url(../Icons/NavBar_MyFavs/preferances.svg);
  background-repeat: no-repeat;
}
.quiz {
  background-image: url(../Icons/NavBar_Quiz/quiz.svg);
  background-repeat: no-repeat;
}

img {
  border-radius: 100%;
  background-color: white;
  border: 2px solid rgb(236, 184, 94);
}

/* Phone Sizing */
@media screen and (max-width: 360px) {
  .nav-parent {
    bottom: 0;
    /* margin-top: 155%;
    margin-left: -5%; */
    position: fixed;
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav-links {
    justify-content: space-around;
    display: flex;
    flex-direction: row;
  }

  a {
    width: 50px;
    height: 50px;
    margin-left: 3vh;
    margin-bottom: 2vh;
  }

  a:hover {
    width: 50px;
    height: 50px;
  }
}
