.background-img {
  background-image: url(../Hurricane/Hurricane.svg);
  background-repeat: no-repeat;
}

.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.card-container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 10px;
  justify-content: center;
}
