.background-img {
  margin-left: 5vh;
  background-image: url(../Hurricane/Hurricane.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.search-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.card-container {
  margin-top: 5vh;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 10px;
  justify-content: center;
}
