<!-- <form [formGroup]="filterForm">
  <div class="form-group">
    <label for="categories"> Choose a Category</label>
    <select formControlName="categories" name="categories" id="categories">
      <option value="">Category</option>
      <option
        *ngFor="let category of categories"
        value="{{ category.strCategory }}"
        >{{ category.strCategory }}</option
      >
    </select>
  </div>
  <div class="form-group">
    <label for="alphabet"> Choose a Letter</label>
    <select formControlName="alphabet" name="alphabet" id="alphabet">
      <option value="">Letters</option>
      <option *ngFor="let letters of alphabet" value="{{ letters }}">{{
        letters
      }}</option>
    </select>
  </div>
  <div class="form-group">
    <select formControlName="glassware" name="glassware" id="glassware">
      <option value="">Glassware</option>
      <option *ngFor="let glass of glassware" value="{{ glass.strGlass }}">{{
        glass.strGlass
      }}</option>
    </select>
  </div>
  <div class="form-group">
    <input
      formControlName="booze"
      type="radio"
      id="Alcoholic"
      name="booze"
      value="Alcoholic"
    />
    <label for="Alcoholic">Alcoholic</label><br />
    <input
      formControlName="booze"
      type="radio"
      id="non-alcoholic"
      name="booze"
      value="Non alcoholic"
    />
    <label for="non-alcoholic">Non Alcoholic</label><br />
  </div>
  <button (click)="resetForm()">Reset Form</button>
</form> -->
<h1>Search Drinks</h1>
<form [formGroup]="nameSearch" (ngSubmit)="searchByName()">
  <div class="form-group">
    <input
      type="text"
      placeholder="Search by Name"
      formControlName="searchName"
    />
  </div>
  <button type="submit">Submit</button>
</form>

<form [formGroup]="letterSearch" (ngSubmit)="searchByLetter()">
  <div class="form-group2">
    <label for="alphabet"> Choose a Letter</label>
    <select formControlName="letter" name="letter" id="letter">
      <option value="">Letters</option>
      <option *ngFor="let letters of alphabet" value="{{ letters }}">{{
        letters
      }}</option>
    </select>
  </div>
  <button type="submit">Submit</button>
</form>
