.nav-parent {
  visibility: hidden;
}

.two-col {
  width: 49.5%;
}

/* Set background Image */
.background {
  margin-top: 30px;
  background-image: url(../login-form/Margarita/margarita.svg);
  background-repeat: no-repeat;
  height: 100vh;
  /* width: 115vw; */
}
/* set main component */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
/* Title */
h1 {
  margin-top: 40vh;
  font-size: 50px;
  color: rgb(236, 184, 92);
}

/* .style {
  text-emphasis-style: triangle;
} */

/* set form width and Height */
form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: auto;
}

/* form child layout*/
.form-group {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}
/* labels */
label {
  font-size: 30px;
  color: rgb(236, 184, 92);
}

/* Input Styling */
input {
  margin-top: 10px;
  padding: 10px 5px;
  color: white;
  background-color: rgb(236, 184, 92, 0.5);
  border: 2pt solid rgb(236, 184, 92);
}
input:hover {
  border: 2pt solid #80bdad;
}
::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.methodInput {
  padding: 10px 5px;
  color: white;
  background-color: rgb(236, 184, 92, 0.5);
  border: 2pt solid rgb(236, 184, 92);
}
textarea {
  padding: 30px 5px;
  color: white;
  background-color: rgb(236, 184, 92, 0.5);
  border: 2pt solid rgb(236, 184, 92);
}

textarea:hover {
  border: 2pt solid #80bdad;
}

.methodInput:hover {
  border: 2pt solid #80bdad;
}

/* Button */
button {
  margin-top: 30px;
  padding: 10px 0px;
  background-color: rgb(236, 184, 92);
  /* box-shadow: black -1pt 1pt 3pt; */
}
button:hover {
  background-color: #80bdad;
}

/* link Style */
.resetPW {
  display: flex;
  flex-direction: column;
}

.linkInfo {
  margin-top: 20px;
  color: hsl(0, 0%, 100%);
}
a {
  align-self: center;
  margin-top: 8px;
  color: #80bdad;
}

/* media Query for Tablets */
/* @media screen and (max-width: 768px) {
      .background {
        margin-top: 10vh;
        height: 80vh;
        width: 100vw;
      }
    
      .body {
        width: 100vw;
        height: 50vw;
      }
      .form-group {
        margin-top: 10px;
      }
    
      form {
        width: 30vw;
      }
    
      label {
        font-size: 30px;
      }
    } */

/* Media Query for phone */
/* @media screen and (max-width: 360px) {
      .background {
        margin-top: 10vh;
        height: 80vh;
        width: 100vw;
      }
    
      .body {
        width: 100vw;
        height: 60vh;
      }
      h1 {
        margin: 0;
      }
    
      form {
        margin-top: 5px;
        width: 40vw;
        height: auto;
      }
    
      label {
        font-size: 30px;
      }
    } */
